version: "3.8"

services:
  waha:
    image: devlikeapro/waha:latest
    container_name: waha
    platform: linux/amd64
    env_file:
      - .env
    environment:
      WHATSAPP_HOOK_URL: http://host.docker.internal:5678/webhook/webhook
      WHATSAPP_DEFAULT_ENGINE: WEBJS
      WHATSAPP_HOOK_EVENTS: message.any
    volumes:
      - waha_sessions:/app/.sessions
      - waha_media:/app/.media
    ports:
      - "3000:3000"
    restart: always

volumes:
  waha_sessions:
  waha_media:
